body{
  background: rgb(176,224,230);
}
.index-page{
  margin-left: auto;
  margin-right:auto;
  width:80vw;
}
.btns{
  display:flex;
  flex-direction: row;
  justify-content: center;
}
.btns .item{
  margin:3%;
}

.post {
  background: #FFF;
  padding:2%;
  border-radius: 30px;
  margin-bottom: 2%
}
.post .header,
.post .body{
  text-align: left;
}
.post .footer{
  text-align: right;
}
